@charset "UTF-8";

/* Generic */
body {
	background-image: url('/images/background.png');
	background-size: cover;
}

.input-group {
	margin-bottom: 15px;
}

.panel-body {
	padding-bottom: 15px;
}

textarea.form-control {
	margin-bottom:15px; 
	resize:none;"
}

/* Login & registration */
#loginbox {
	margin-top: 100px;
}

#loginbox-button {
	margin-bottom: 15px;
}

#loginbox-alert{
	margin-bottom: 0px;
}
