@charset "UTF-8";

/* Generic */
body {
	background-image: url('/images/background.png');
	background-size: cover;
}

/* Login & registration */
#loginbox {
	margin-top: 100px;
}

#loginbox-panel {
	padding-bottom: 0px;
}

#loginbox-button {
	margin-bottom: 15px;
}

#loginbox-alert{
	margin-bottom: 0px;
}

#loginbox .input-group {
	margin-bottom: 15px;
}
